/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #00ff00;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*::-webkit-scrollbar-thumb:window-inactive {*/
/*    background: rgba(255, 0, 0, 0.4);*/
/*}*/

.title {
    text-align: center;
    margin-bottom: 10px;
}

.title span {
    font-size: 50px;
    color: #00FF00;
    font-style: italic;
    animation: glow 3s ease-out infinite alternate;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

@keyframes glow {
    0% {
        color: #00a4a2;
        text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00, 0 0 60px #00FF00, 0 0 70px #00FF00;
    }

    50% {
        color: #00FF00;
        text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 black;
    }
}

.control-buttons {
    text-align: center;
}

.area-title {
    color: #00ff00;
    text-align: center;
    margin: 10px;
}

.CodeMirror {
    height: 600px !important;
}

.CodeMirror-linenumber {
    width: 30px !important;
}

body {
    font-family: "Gill Sans", sans-serif;
    background-color: #2b2b2b;
}

.success-highlight-background {
    background: #00FF7F;
    /* background: gray; */
}

.highlight-background {
    background: #ea9f93;
    /* background: gray; */
}

.select-background {
    background: #87CEFA;
    /* background: gray; */
}

.registers {
    margin: 15px;
}

.registers table {
    color: #00ff00;
}

.registers tr td {
    width: 100px;
    text-align: center;
}

.registers .name {
    border: 2px dashed #00ff00;
    border-bottom: none;
    height: 30px;
}

.registers .value {
    border: 2px dashed #00ff00;
    border-top: none;
    height: 30px;
}

.memory {
    border: 2px dashed #00ff00;
    height: 490px;
    overflow: scroll;
    overflow-x: hidden;
}

.memory .table {
    width: 100%;
    color: #00ff00;
}

.memory tr td {
    width: 100px;
    text-align: center;
}

.code-area {
    float: right;
    width: 60%;
}


.asm-code-div {
    float: left;
    border: 2px dashed #00ff00;
    border-radius: 10px;
}

.machine-code-div {
    border: 2px dashed #00ff00;
    border-radius: 10px
}


/*tr td {*/
/*    border: 1px solid #000;*/
/*    width: 100px;*/
/*}*/